body{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #00a19d;
  padding: 1.25rem 2rem;
}

.nav-center{
  max-width: var(--fixed-width);
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h3{
  margin-bottom: 0;
  color: white;
}

.nav-container{
  display: block;
  position: relative;
}

.amount-contained{
  position: absolute;
  top:-0rem;
  right: 0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #1e3163;
  display: flex;
  align-items: center;
  justify-content: center;
  
}